.viewplayers {
  font-family: Arial, Helvetica, sans-serif;
}

.loading,
.form,
.database,
.search,
.addplayer,
.homepage {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  text-align: center;
}
